<%- include('../partials/header') %>

<h2>Genres</h2>

<a href="/favorites/new">Add A New Genre</a>

<ul>
    <% favorites.forEach(function(favorite) { %>
        <li>
            <form action="/favorites/<%= favorite.id %>?_method=DELETE" method="POST">
                <button type="submit">x</button>
            </form>
            <a href="/favorites/<%= favorite.id %>">
                <%= favorite.name %>
            </a>
        </li>
        <% }); %>
</ul>

<%- include('../partials/footer') %>