<%- include('../partials/header.ejs') %>

<h3>Sketch Detail Page</h3>
<div class="sketch-container">
    <div class="card" style="width: 18rem;">
        <img src="<%= sketch.sprites.front_default %>" class="card-img-top" alt="<%= sketch.name %>">
        <div class="card-body">
            <h5 class="card-title"><%= sketch.name %></h5>
            <p class="card-text"><%= sketch.name %> is <%= sketch.types[0].type.name %> type Sketch</p>
        </div>
        <ul class="list-group list-group-flush">
        <% sketch.abilities.forEach(function(ability) { %>
            <li class="list-group-item">
                <%= ability.ability.name %>
            </li>
        <% }); %>
        </ul>
    </div>
</div>

<%- include('../partials/footer.ejs') %>